.font-size1{
    font-size: 32px;
}

.font-size2{
    font-size: 18px;
}

.font-weight{
    font-weight: bold;
}

.text-align{
    text-align: center;
}

.align{
    align="center"
}

.color{
    color:#666;
}

.indent{
    text-indent: 2em;
}

.line-height{
    line-height: 36px;
}